<!DOCTYPE html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <title>Viktorious</title>
  <style>
    body {
      text-align: center;
      background: url("http://res.cloudinary.com/dw8sniwdq/image/upload/v1459227502/SG_hi5tfv.jpg");
      background-size: cover;
      background-position: top;
      color: white;
      font-family: Roboto Condensed, sans-serif;
    }
    p {
      font-size: 40px;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
      color: black;
    }
    input[type="submit"] {
      background: #dc0e19;
      color: white;
    }
    @media (max-width: 500px) {
    p {
      font-size: 20px;
      line-height:24px;
      color: white;
      font-weight:;
      text-shadow: 1px 1px 1px #000;
    }
    body {
      background-size: cover;
      background-position: relative;
      background-repeat: no-repeat;
    }
    img {
      max-width: 100%;
      height: auto;
    }

    }
  </style>
</head>
<body>
  <img src="http://res.cloudinary.com/dw8sniwdq/image/upload/c_thumb,g_face,h_200,r_max,w_200/a_0/v1459229220/ViktoriousLee_thtfxt.png">
  <p>Hi! I'm Victor, a junior IOS developer from Singapore who's making a diversity of applications.
  <br> Here, I made a simple web app to pixelate your face in a photo.
  <br> You can also contact me at myleevictor@gmail.com </p>
  
  <form action="http://victorminigram.herokuapp.com/sign_in" method="get">
    <input type="text" name="Nickname" required placeholder="Hello! What's your name?">
    <input type="submit" value="Try Pixelate Now"
          name="Submit" id="frm1_submit:"/>
  </form>
</body>
